body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif;
    color:#404040;
    margin: 0;
}

#content-container {
    padding: 3em 1.5em;
}

main {
    margin:0 auto;
    max-width: 40em;
}